*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# 署名鍵 (絶対に公開してはいけないファイル)
*.jks
*.keystore

# ビルド成果物 (APKファイルなど)
*.apk
*.aar
