<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <!-- 通知権限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- アラームを鳴らすための権限 -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <!-- 再起動時にリマインダーを再設定するための権限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- バイブレーション -->
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OngekiApp">
        <receiver
            android:name=".ReminderReceiver"
            android:exported="false" />
        <receiver
            android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.OngekiApp"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="設定"
            android:theme="@style/Theme.OngekiApp" />

        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="@string/about_title"
            android:theme="@style/Theme.OngekiApp" />

        <!-- uCrop 用の Activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity"/>

        <!-- OSS ライセンス表示 Activity -->
        <activity
            android:name=".OpenSourceLicensesActivity"
            android:exported="false"
            android:label="オープンソースライセンス" />
    </application>

</manifest>